{% extends "base/base.html" %} {% block start %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple E-Commerce Website</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <!-- Main Content -->
    <main class="flex-1 px-4 py-6">
      <!-- Product Grid -->
      <section
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mx-auto max-w-screen-xl"
      >
        {% for product in products %}
        <a
          href="{% url 'get_product' product.slug %}"
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 overflow-hidden"
        >
          <img
            src="/media/{{ product.product_images.first.image }}"
            alt="{{ product.product_name }}"
            class="w-full h-64 object-cover rounded-t-lg"
          />
          <div class="p-4">
            <h3 class="text-xl font-semibold text-center text-gray-800">
              {{ product.product_name }}
            </h3>
            <div class="text-lg text-blue-600 font-bold mt-2 text-center">
              ${{ product.price }}
            </div>
            <button
              class="w-full py-2 mt-4 bg-blue-500 text-white text-lg font-semibold rounded-lg hover:bg-blue-600 transition-colors"
            >
              Add to Cart
            </button>
          </div>
        </a>
        {% empty %}
        <p
          class="col-span-full text-center text-xl font-semibold text-gray-600"
        >
          No products available.
        </p>
        {% endfor %}
      </section>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-900 text-white text-center py-4 mt-6">
      <p>&copy; 2025 ShopSphere | All Rights Reserved</p>
    </footer>
  </body>
</html>
{% endblock %}
