<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple E-Commerce Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-50">
    <!-- Header -->
    <header class="bg-teal-700 text-white shadow-md sticky top-0 z-50 py-4">
      <div class="container mx-auto flex justify-between items-center px-4">
        <!-- Logo -->
        <div class="text-2xl font-bold text-black">
          <span class="text-white">Shop</span
          ><span class="text-yellow-500">Sphere</span>
        </div>

        <!-- Navigation Menu -->
        <nav class="space-x-6 hidden md:flex">
          <a
            href="{% url 'home:home_page' %}"
            class="hover:text-yellow-400 transition duration-300"
            >Home</a
          >
          <a href="#" class="hover:text-yellow-400 transition duration-300"
            >Contact</a
          >
        </nav>

        <!-- Search Bar Container with Flex Grow -->
        <div class="flex items-center gap-2 flex-grow max-w-2xl w-full">
          <input
            type="text"
            placeholder="Search for products"
            class="px-4 py-2 rounded-lg border-2 border-teal-500 focus:ring-2 focus:ring-teal-400 focus:outline-none w-full"
          />
          <button
            class="px-4 py-2 bg-teal-600 text-white rounded-lg hover:bg-teal-500 transition duration-300"
          >
            Search
          </button>
        </div>

        <!-- Auth Links -->
        <div class="space-x-6 flex items-center">
          <a href="#" class="hover:text-yellow-400 transition duration-300"
            >Orders</a
          >
          <a
            href="{% url 'cart:cart_detail' %}"
            class="hover:text-yellow-400 transition duration-300"
            >Cart</a
          >
          <a
            href="{% url 'accounts:login' %}"
            class="hover:text-yellow-400 transition duration-300"
            >Sign In</a
          >
          <a
            href="{% url 'accounts:register' %}"
            class="hover:text-yellow-400 transition duration-300"
            >Register</a
          >
        </div>
      </div>
    </header>

    <!-- Start Block for Dynamic Content -->
    {% block start %}{% endblock %}
  </body>
</html>
